// Applies field label font styles
@mixin label-style {
	font-size: 16px;
	font-weight: $roboto-medium;
}

// Applies field value font styles
@mixin value-style {
	font-size: 16px;
    line-height: 17px;
    @include media-breakpoint-up($bp-tablet) {
        font-size: 14px;
    }
}

// General mixin for styling focussed form elements
@mixin input-focus {
	&,
	* {
        transition: color $transition,
        border-color $transition,
        background-color $transition,
        background $transition,
        box-shadow $transition;
	}

	.field__input:focus + .field__label {
		color: $color--blue;
	}

	.field__input:focus,
	.field__input:focus + .field__label::before {
		outline: none;
		color: $color__text;
		background-color: #fff;
		border-color: $color--blue;
		box-shadow: $box-shadow__field;
	}

    .field__input:checked:focus + .field__label {
        &::before,
        &::after {
            border-color: $color--blue;
        }
    }

	&:focus-within {
		.field__label {
			color: $color--blue;
		}

		.field__input,
		.field__label::before {
			outline: none;
			color: $color__text;
			background-color: #fff;
			border-color: $color--blue;
			box-shadow: $box-shadow__field;
		}

		.input-group {
            box-shadow: $box-shadow__field;

			&-text {
				color: $color--blue;
				border-color: $color--blue;
            }

            .field__input {
                box-shadow: none;
            }
		}
	}
}

.form {

	&__field {
		display: flex;
		flex-direction: column;
		@include input-focus;
		margin-bottom: $margin__form-field;
	}

	&__actions {
		@include make-col-ready();
		@include make-col(12);
		// flex-direction: row-reverse;
        display: flex;
        margin-top: $margin__panel-TB - $margin__form-field;
		// margin-bottom: $margin__form-field;

        > .mb-button {
            &.action--left {
                margin-right: auto;
            }
            &.action--right {
                margin-left: auto;
            }
        }
	}

    // Labelled box around related fields
    &__fieldset {
        $block: ".fieldset";
		margin-bottom: $margin__form-field;

        #{$block}__label {
            @include label-style;
            line-height: 1;
            position: absolute;
            top: 0;
            padding: 0 0.5em 0.25em 0;
            background-color: #fff;
            // margin-left: 0.5em;

            + #{$block}__box {
                margin-top: 0.5em;
            }
        }

        #{$block}__box {
            @include make-row();
            margin: 0;
            padding-top: $margin__form-field;
            padding: $margin__form-field calc(#{$margin__form-field} - 15px) 0;
            border: 1px solid $color__field-border;
        }
    }
}

// Field Elements
.field {
	$block: #{&};
	&__label {
		@include label-style;
		margin-bottom: 0.5em;
		user-select: none;
		position: relative;
		margin-right: auto;
	}

	&__input {
		@include value-style;
		border: 1px solid $color__field-border;
    }

    &__readonly {
        @include value-style;
        border-top: 1px solid $color__field-border;
    }

    &__help {
        font-size: 12px;
        margin-top: 8px;
        color: $color__text-light;
    }
}


// Overriding Bootstrap Input-group
.input-group {
	$block: #{&};

	&-prepend {
		margin: 0;
		#{$block}-text {
			border-right: none;
		}
	}

	&-append {
		margin: 0;
		#{$block}-text {
			border-left: none;
		}
	}

	&-text {
		@include value-style;
		background-color: $color__background;
		color: $color__text-light;
		border-color: $color__field-border;
		border-radius: 0;
		padding: 10px;
	}

	.field__input {
		flex: 1 0 auto;
        width: 1%;
	}
}
