<footer class="footer">
    <div class="footer__items">
        <div class="footer__item">
            <strong>Copyright &copy;
                <script type="text/javascript"> var d = new Date(); document.write(d.getFullYear())</script></strong> myBuildings
        </div>
        <div class="footer__item">
            <a href="/">Privacy</a>
        </div>
        <div class="footer__item">
            <a href="/">Disclaimer</a>
        </div>
        <div class="footer__item footer__logo">
            <span>Powered by</span>
            <a href="https://corevision.com.au/" title="Visit CoreVision Website"><img src="/assets/images/myBUildings-logo-footer.svg" height="40" alt="myBuildings Logo"></a>
        </div>
    </div>
</footer>