<div class="nav">
    <div class="nav-accent"></div>
    <div class="nav-panel">

        <div class="nav__logo">
            <a href="/"><img width="175" src="/assets/images/myBuildings-logo.svg"></a>
        </div>

        <div class="nav__menu">
            <nav>
                <ul>
                    <li class="nav__item">
                        <a href="/">Nav Item</a>
                    </li>

                    <li class="nav__item nav__item--active">
                        <a href="/">Nav Item - Active</a>
                    </li>

                    <li class="nav__item nav__item--dropdown">
                        <a href="/">Nav Item - Dropdown</a>
                    </li>

                    <li class="nav__item nav__item--dropdown nav__item--active">
                        <a href="/">Nav Item - Dropdown - Active</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="nav__footer"></div>
    </div>

</div>