<div class="nav">
    <div class="nav-accent"></div>
    <div class="nav-panel">

        <div class="nav__logo">
            <a href="{{ site.url | relative_url }}"><img width="175" src="/assets/images/myBuildings-logo.svg"></a>
        </div>

        <div class="nav__button" tabindex="0">
            <i class="far fa-bars"></i>
            <i class="fal fa-times"></i>
        </div>

        <div class="nav__menu">
            <nav data-simplebar>
                <ul>
                    {% assign sorted_pages = site.pages %}
                    {% for node in sorted_pages %}
                    {% if node.title %}
                    <li class="nav__item {% if page.url == node.url %}nav__item--active{% endif %}">
                        <a href="{{ node.url | relative_url }}">{{node.title}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    <!-- Nav Item - Standard -->
                    <!--
                        ├─○ <li> .nav__item
                        │ └─● <a href>
                    -->
                    <li class="nav__item">
                        <a href="{{ node.url | relative_url }}">Nav - Standard</a>
                    </li>


                    <!-- Nav Item - Active -->
                    <!--
                        ○ <li> .nav__item .nav__item--active
                        └─● <a href>
                    -->
                    <li class="nav__item nav__item--active">
                        <a href="{{ node.url | relative_url }}">Nav - Active</a>
                    </li>


                    <!-- Nav Item - Parent -->
                    <!--
                        ├─○ <li> .nav__item .nav__item--parent
                        │ ├─● <a href>
                        │ ├─● <div> .nav__item__toggle
                        │ └─○ <ul> .nav__item__subnav
                        │   └─○ <li> .subnav__item
                        │   │ └─● <a href>
                    -->
                    <li class="nav__item nav__item nav__item--parent">
                        <a href="{{ node.url | relative_url }}">Nav - Parent</a>
                        <div class="nav__item__toggle"></div>
                        <ul class="nav__item__subnav">
                            <!-- Subnav - mobile -->
                            {% for n in (1..3) %}
                            <li class="subnav__item">
                                <a href="/">EX1 - Subitem {{ n }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>


                    <!-- Nav Item - Active Parent -->
                    <!--
                        ├─○ <li> .nav__item .nav__item--active .nav__item--parent
                        │ ├─● <a href>
                        │ ├─● <div> .nav__item__toggle
                        │ └─○ <ul> .nav__item__subnav
                        │   └─○ <li> .subnav__item
                        │   │ └─● <a href>
                    -->
                    <li class="nav__item nav__item nav__item--active nav__item--parent">
                        <a href="{{ node.url | relative_url }}">Nav - Active Parent</a>
                        <div class="nav__item__toggle"></div>
                        <ul class="nav__item__subnav">
                            <!-- Subnav - mobile -->
                            {% for n in (1..3) %}
                            <li class="subnav__item">
                                <a href="/">EX2 - Subitem {{ n }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- Subnav panel - desktop -->
            <!--
                ├─○ <div> .nav__subnav
                │ ├─○ <ul> #subnav-N (where N is index of the corresponding .nav__item--parent(s) above)
                │ │ └─○ <li> .subnav__item
                │ │ │ └─● <a href>
            -->
            <div class="nav__subnav">
                <ul id="subnav-0">
                    {% for n in (1..3) %}
                    <li class="subnav__item">
                        <a href="/">EX1 - Subitem {{ n }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <ul id="subnav-1">
                    {% for n in (1..3) %}
                    <li class="subnav__item">
                        <a href="/">EX2 -Subitem {{ n }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="nav__footer">
                <h5>Leasing Information</h5>
                <span class="nav__footer__label">Email</span>
                <a href="mailto:leasing@mylocus.com.au" class="nav__footer__value">leasing@mylocus.com.au</a>
                <span class="nav__footer__label">Phone</span>
                <a href="tel:0893644836" class="nav__footer__value">(08) 9364 4836</a>
            </div>
        </div>
    </div>
</div>