<div class="nav">
    <div class="nav-accent"></div>
    <div class="nav-panel">

        <div class="nav__logo">
            <a href="{{ site.url | relative_url }}"><img width="175" src="/assets/images/myBuildings-logo.svg"></a>
        </div>

        <div class="nav__button" tabindex="0">
            <i class="far fa-bars"></i>
        </div>

        <div class="nav__menu">
            <nav data-simplebar>
                <ul>
                    {% assign sorted_pages = site.pages | sort:"order" %}
                    {% for node in sorted_pages %}
                    {% if node.title %}
                    <li class="nav__item {% if page.url == node.url %}nav__item--active{% endif %}">
                        <a href="{{ node.url | relative_url }}">{{node.title}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% for i in (1..25) %}
                    <li class="nav__item nav__item--parent">
                        <a href="/" id="nav-{{ i }}">Nav Item {{ i }}</a>
                        <div class="nav__item__toggle"></div>
                        <ul class="nav__item__subnav">
                            {% for n in (1..5) %}
                            <li class="subnav__item">
                                <a href="/">{{ i }}: Subitem {{ n }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="nav__subnav">
                {% for i in (1..25) %}
                <ul id="subnav-{{ i }}">
                    {% for n in (1..5) %}
                    <li class="subnav__item">
                        <a href="/">{{ i }}: Subitem {{ n }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>

            <div class="nav__footer">
                <h5>Leasing Information</h5>
                <span class="nav__footer__label">Email</span>
                <a href="mailto:leasing@mylocus.com.au" class="nav__footer__value">leasing@mylocus.com.au</a>
                <span class="nav__footer__label">Phone</span>
                <a href="tel:0893644836" class="nav__footer__value">(08) 9364 4836</a>
            </div>
        </div>
    </div>

</div>