/*

This file should hold styling that applies to all pages.
This may include standard font-sizes, cross-browser normalisation, redefinition of defaults, or smaller
general rules for common elements such as <strong>, <p> etc.

*/

html * {
	box-sizing: border-box;
}

body {
	font-family: $font-family--global;
	background-color: $color__background;
}

body,
p {
	font-size: 16px;
}

p:last-child {
	margin-bottom: 0;
}


// For h1 through h6
@for $n from 1 through 6 {
    h#{$n}, .h#{$n} {
        @include h($n)
    }
}

::selection {
	background-color: $color--highlight !important;
	color: #fff !important;
}
