/*

This file should hold styling that applies to all pages.
This may include standard font-sizes, cross-browser normalisation, redefinition of defaults, or smaller
general rules for common elements such as <strong>, <p> etc.

*/

html * {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", $font-family-base;
	background-color: $color__background;
}

body,
p {
	font-size: 16px;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
	color: $color--primary;
}

h2 {
	font-size: 36px;
}

h3 {
	@include font-size(26px);
}

h4 {
	@include font-size(21px);
}

h5 {
	@include font-size(18px);
}

h6 {
	@include font-size(16px);
}
