/*

Helpers are general, single-function, immutable CSS classes used for quick styling of HTML elements.

They should only be used in cases where they are contextually necessary. If you find yourself repeating these over and over when making components or repeating elements, you should instead opt to style them within their own component sass file.

*/

.uppercase {
	text-transform: uppercase;
}

@each $dir in (left, right, center) {
	.text-#{$dir} {
		text-align: $dir;
	}
} // .text-left/right/center

.full-height-width {
	height: 100%;
	width: 100%;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.no-scroll {
	overflow: hidden;
}

.color--primary {
	color: $color--primary;
}
.color--secondary {
	color: $color--secondary;
}
.color--tertiary {
	color: $color--tertiary;
}
.color--highlight {
	color: $color--highlight;
}
