// Brand colour definitions
$color--cv-primary: #12354A;
$color--cv-secondary: #210839;
$color--cv-tertiary: #6cc7e4;
$color--cv-highlight: #7b59b9;

// Site colour definitions
// These should be split out into their own file - these are the editable colours
$color--primary: $color--cv-primary;
$color--secondary: $color--cv-secondary;
$color--tertiary: $color--cv-tertiary;
$color--highlight: $color--cv-highlight;

$color--blue: #007bc2;
$color--red: #D20000;
$color--red-light: #FFF3F3;
$color--orange: #E6AF1D;
$color--orange-light: #FCF3DD;
$color--green: #078610;
$color--green-light: #E0F6E2;
$color--grey: #F7F7F7;
$color--grey-light: #FBFBFB;

$color__text: #333333;
$color__text-light: #757575;
$color__background: $color--grey;
$color__hover-menu: #E9F7FB;
$color__hover-table: #F4FBFD;
$color__table-row-border: #E9E9E9;
$color__field-border: #C8C8C8;
$color__disabled-text: #919191;
$color__disabled-border: #C9C4C4;
$color__disabled-background: #EFEFEF;

// Dimensions
$width__accent-desktop: 15px;
$width__nav-desktop: 275px;

$height__accent-mobile: 10px;
$height__nav-mobile: 75px;
$height__banner-desktop: 200px;
$height__banner-mobile: 150px;
$height__checkbox-radio: 19px;


// Margins & Paddings
$margin__panel-TB: 40px;
$margin__panel-LR: $margin__panel-TB * 2;
$margin__form-field: 24px;

$padding__panel-TB: 24px;
$padding__panel-LR: 32px;
$padding__field-TB: 10px;
$padding__field-LR: 15px;

// Borders
$border-color__table: $color__field-border;
$border__table: 1px solid $border-color__table;
$border__table-row: 1px solid $color__table-row-border;

// Box Shadows
$box-shadow__panel: 0 0 20px rgba(0,0,0,0.08);
$box-shadow__field: 0 0 5px rgba(darken($color--tertiary, 25%), 0.25);

// Transitions
$transition: 0.2s ease;

// Bootstrap breakpoints
// Tablet - Mobile layout
$bp-tablet: "sm";
// Laptop - introduces side-nav, small PC layout
$bp-laptop: "md";
// Desktop - introduces full horizontal spacing
$bp-desktop: "lg";

// Fonts
$font-family--global: "Roboto", $font-family-base;
// Roboto Weights
$roboto-light: 300;
$roboto-regular: 400;
$roboto-medium: 500;
$roboto-bold: 700;
