.k-grid {
	@mixin ascending {
		&[data-dir="asc"] {
			.k-link::before {
				@content;
			}
		}
	}
	@mixin descending {
		&[data-dir="desc"] {
			.k-link::after {
				@content;
			}
		}
	}
	$border-radius: 3px;
	$border-1px: 1.25px;

	border: none;
	font-family: $font-family--global;
	color: $color__text;
	font-size: 14px;
	margin-bottom: $margin__form-field;

	> table {
		border: $border-1px solid $color__field-border;
		border-radius: $border-radius;
    }


	& &-header .k-header,
	td[role="gridcell"] {
		padding: 15px;
	}

	td {
		border: none;
		border-bottom: $border-1px solid $color__table-row-border;
		background-color: #fff;
		line-height: 1.25;
		vertical-align: top;
	}

    .k-grid-content,
    .k-grid-header + tbody {
        background-color: $color--grey-light;
        border-radius: 0 0 $border-radius $border-radius;
    }

	.k-grid-header {
		border-radius: $border-radius $border-radius 0 0;
		border: none;
		background-color: $color__background;

		.k-grid-header-wrap {
			border-color: $color__field-border;
		}

		.k-header {
			font-weight: $roboto-bold;
			border-left: none;
			border: none;
			border-bottom: $border-1px solid $color__field-border;

			&:first-child {
				border-radius: $border-radius 0 0 0;
			}
			&:last-child {
				border-radius: 0 $border-radius 0 0;
			}

			.k-link {
				line-height: 1.5;
				min-height: auto;
			}

			.k-link {
				display: block;
				padding: 0;
				margin: 0;
			}

			&:not(:first-child) {
				&::before {
					content: "";
					display: inline-block;
					width: $border-1px;
					height: 36px;
					background: $color__field-border;
					opacity: 0.5;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			// Sorting
			&[data-role="columnsorter"] {
                cursor: pointer;
				.k-link {
					.k-icon {
						display: none;
					}
					> * {
						padding-right: 1em;
					}
					&::before {
						@include fa("solid", "f106");
						line-height: 0.5;
						padding-bottom: 0.85em;
					}
					&::after {
						@include fa("solid", "f107");
						line-height: 0.5;
						padding-top: 0.85em;
					}
					&::before,
					&::after {
						position: absolute;
						font-size: 16px;
						right: 0.5em;
						top: 50%;
						transform: translateY(-50%);
						color: $color__field-border;
						pointer-events: none;
					}
				}
				@include hover-focus {
					&,
					&:focus-within {
						.k-link {
							&::before {
								color: $color--blue;
								opacity: 0.3;
							}
							&::after {
								color: $color--red;
								opacity: 0.3;
							}
						}
						@include ascending {
							opacity: 1;
						}
						@include descending {
							opacity: 1;
						}
					}
				}
				@include ascending {
					color: $color--blue;
				}
				@include descending {
					color: $color--red;
				}
			}
		}
	}
}
