.k-grid {

	.k-pager-numbers-wrap {
		margin: 0;
	}
	.k-grid-pager {
		border: none;
		background: none;
		color: $color__text;
		padding: 10px 0 0;
		align-items: flex-start;

		.k-pager-nav {
			@include button-style("stroke", $color--primary, $color--primary);

			&,
			&::before {
				transition: $transition;
			}

			&::before {
				border-width: 1px !important;
				border-radius: 2px;
			}
			border: none;
			border-radius: 2px;
			font-size: 12px;
			padding: 0;
			width: 30px;
			height: 30px;
			position: relative;
			bottom: 0;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
			margin: 0 5px 0 0;
			font-weight: $roboto-medium;

			@include hover-focus {
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
				bottom: 1px;
			}
			&.k-pager-first,
			&.k-pager-last {
				display: none;
			}

			&.k-pager-first {
				.k-icon::before {
					@include fa("solid", "f048");
					font-size: 9px;
				}
			}
			&:nth-child(2) {
				.k-icon::before {
					@include fa("solid", "f104");
					font-size: 13px;
				}
			}
			&:nth-child(4) {
				.k-icon::before {
					@include fa("solid", "f105");
					font-size: 13px;
				}
			}
			&.k-pager-last {
				.k-icon::before {
					@include fa("solid", "f051");
					font-size: 9px;
				}
			}
		}

		.k-pager-numbers > li {
			> span,
			a {
				@extend .k-pager-nav;

				&.k-state-selected {
					@include button-style("fill", #fff, $color--primary);
					font-weight: $roboto-bold;
				}
			}
		}

		.k-state-disabled {
			@include button-style("stroke", $color__disabled-text, $color__disabled-border);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) !important;
			bottom: 0 !important;
			background: $color__disabled-background;
		}
	}

	.k-pager-sizes {
		&,
		span:not(.k-icon) {
			font-family: $font-family--global;
		}

		flex-direction: column;
		font-size: 14px;
		font-weight: $roboto-medium;
		margin: -0.25em 0 0 auto;
        align-items: stretch;
        transition: $transition;
		&:focus-within {
			color: $color--blue;
		}

		.k-widget {
			font-size: 14px;
            font-weight: $roboto-regular;
            color: $color__text;
			flex: 1 0 auto;
			width: auto;
			order: 2;
			margin: 0.25em 0 0;

			.k-dropdown-wrap {
				border: 1px solid $color__field-border;
				border-radius: 0;

				&.k-state-focused {
					color: $color__text;
					background-color: #fff;
					border-color: $color--blue;
					box-shadow: $box-shadow__field;
				}
			}
		}
	}
}