.banner {
    height: $height__banner-mobile;
    position: relative;

    @include media-breakpoint-up($bp-laptop) {
        height: $height__banner-desktop;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include banner-gradient;
        }
    }

    &__heading {
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        padding: 0 15px;

        @include media-breakpoint-up($bp-desktop) {
            padding: 0 $margin__panel-LR;
        }
    }

}