@mixin button-style($fill-stroke, $text, $bg-border, $important: '') {
	@if ($fill-stroke == "fill") {
		color: $text #{$important};
		background: $bg-border #{$important};
		@include border(2px solid $bg-border);

		&:not([disabled]):not(.mb-button--disabled):not(.disabled) {
			@include hover-focus {
				color: #fff #{$important};
				background: $color--blue #{$important};
				&::before {
					border-color: $color--blue;
				}
			}
		}
	}
	@if ($fill-stroke == "stroke") {
		color: $text #{$important};
		background: #fff #{$important};
		@include border(2px solid $bg-border);

		&:not([disabled]):not(.mb-button--disabled):not(.disabled) {
			@include hover-focus {
				color: $color--blue #{$important};
				background: #fff #{$important};
				&::before {
					border-color: $color--blue;
				}
			}
		}
	}
}

.mb-button {
	$block: #{&};
	border: none;
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	line-height: 1;
	bottom: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: $transition;
	padding: 15px 24px;
	font-size: 14px;
	user-select: none;

	&,
	&::before {
		transition: $transition;
	}

	@include hover-focus {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		bottom: 2px;
	}

	&,
	&--fill {
		@include button-style("fill", #fff, $color--primary);
	}
	&--stroke {
		@include button-style("stroke", $color--primary, $color--primary);

		&:not(#{$block}--small) {
			font-weight: $roboto-medium;
		}
	}
	&--small {
		padding: 8px 14px;
		font-size: 12px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

		@include hover-focus {
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			bottom: 1px;
		}

		&::before {
			border-width: 1px;
		}
	}

	&[disabled],
	&--disabled,
	&.disabled {
		pointer-events: none;
		cursor: default;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

		&,
		&#{$block}--fill {
			@include button-style("fill", $color__disabled-text, $color__disabled-background);
		}

		&#{$block}--stroke {
			@include button-style("stroke", $color__disabled-text, $color__disabled-border);
		}
	}
}
