.document-library {
    &__icon {
        opacity: 0.75;
        margin-right: 0.75em;
        color: $color--primary;

        &--word::before {
            @include fa("regular", "f1c2");
        }
    }
}