td.document-library__icon-col {
	padding-left: calc(15px + 1.5em * 1.25) !important;
}

// Selecting wrapper element created by DataTables
// Hide DataTable on mobile
#document-library_wrapper {
	display: none;
	@include media-breakpoint-up($bp-laptop) {
		display: flex;
	}
}

.document-library {
	$block: #{&};
	font-size: 14px;
	width: 100%;

	// Hide mobile doc library wider than mobile
	display: flex;
	flex-direction: column;
	@include media-breakpoint-up($bp-laptop) {
		display: none;
	}

	&__icon {
		margin-right: 0.75em;
		color: $color__document--grey;
		font-size: 1.5em;
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);

		&--file::before {
			@include fa("regular", "f15c");
			color: $color__document--grey;
		}
		&--word::before {
			@include fa("regular", "f1c2");
			color: $color__document--blue;
		}
		&--ppt::before {
			@include fa("regular", "f1c4");
			color: $color__document--red;
		}
		&--excel::before {
			@include fa("regular", "f1c3");
			color: $color__document--green;
		}
		&--pdf::before {
			@include fa("regular", "f1c1");
			color: $color__document--red;
		}
		&--archive::before {
			@include fa("regular", "f1c6");
			color: $color__document--yellow;
		}
		&--image::before {
			@include fa("regular", "f1c5");
			color: $color__document--grey;
		}
		&--audio::before {
			@include fa("regular", "f1c7");
			color: $color__document--grey;
		}
		&--video::before {
			@include fa("regular", "f1c8");
			color: $color__document--grey;
		}
	}

	&__file {
		&--open {
			#{$block}__toggle {
				opacity: 1;
				transform: rotate(0);
			}
		}

		&--enabled {
			#{$block}__info {
				position: relative;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	&__top {
		padding: 0.75em 1.5em;
		background: $color--grey-light;
		border-bottom: 1px solid $color__table-row-border;
		display: flex;
		align-items: center;

		#{$block}__icon {
			position: relative;
			top: auto;
			left: auto;
			transform: none;
			font-size: 1.75em;
		}
	}

	&__link {
		flex: 1 1 auto;
		text-decoration: none;
	}

	&__name,
	&__type {
		display: block;
	}

	&__name {
		color: $color__text;
		font-size: 16px;
		@include hover-focus {
			color: $color__text;
		}
	}

	&__type {
		font-size: 14px;
		color: $color__text-light;
		@include hover-focus {
			color: $color__text-light;
		}
	}

	&__toggle {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		background: none;
		padding: 15px;
		margin: -15px;
		color: $color--primary;
		opacity: 0.5;
		transform: rotate(-180deg);
		transition: $transition;

		&::before {
			@include fa("solid", "f077");
			transition: 0.3s ease;
		}
	}

	&__info {
		background: $color__background;
		border-bottom: 1px solid $color__table-row-border;
		padding: 15px;
		display: flex;
		flex-wrap: wrap;

		> * {
			flex: 1 1 50%;
			max-width: 50%;

			&:nth-child(odd) {
				padding-right: 15px;
			}

			&:nth-child(even) {
				padding-left: 15px;
				text-align: right;
			}
		}

		// Visually hide until js can catch up and catch its original height
		// These styles are undone in .document-library__file--enabled above
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	&__field {
		margin-bottom: 0.5em;
		font-size: 14px;
	}

	&__field-label {
		display: block;
		margin-bottom: 0;
		font-weight: $roboto-medium;
	}
	&__field-value {
		display: block;
		color: $color__text-light;
		padding-top: 0.2em;
		border-top: 1px solid $color__field-border;
		font-weight: $roboto-regular;
	}

	&__action {
        margin-top: 0.5em;
		.action-link {
			padding: 0.25em 0;
		}
	}
}

@include body-not-tabbing {
	.document-library__toggle {
		&,
		&:focus {
			outline: none;
		}
	}
}
