@mixin nav__item {
	color: $color--primary;
	display: block;
	line-height: 1.25;
	transition: $transition;
	text-transform: uppercase;
	text-decoration: none;

	@include hover-focus {
		text-decoration: none;
		background-color: $color__hover-menu;

		.nav__item__toggle {
			color: $color--tertiary;
		}
	}
}

@keyframes nav__subnav-open {
	0% {
		display: none;
	}
	1% {
		display: block;
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes nav__subnav-close {
	0% {
		display: block;
		transform: translateX(0%);
	}
	99% {
		transform: translateX(-100%);
	}
	to {
		display: none;
	}
}

.nav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: $zindex-fixed;
	flex-direction: column;

	&-accent {
		background-color: $color--secondary;
		height: $height__accent-mobile;
		position: relative;
	}

	&-panel {
		height: auto;
		@include panel-shadow;
		background-color: #fff;
		display: flex;
		flex-direction: column;

		// overflow-y: hidden;
	}

	@include media-breakpoint-up($bp-laptop) {
		bottom: 0;
		right: auto;
		flex-direction: row;

		&-accent {
			background-color: $color--secondary;
			height: 100vh;
			width: $width__accent-desktop;
			position: relative;
		}

		&-panel {
			height: 100vh;
			width: $width__nav-desktop;
			@include panel-shadow;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: $height__nav-mobile;
		flex: 1 0 auto;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}

		img {
			width: auto;
			height: 45px;
			display: inline-block;
			flex: none;
		}

		@include media-breakpoint-up($bp-laptop) {
			height: $height__banner-desktop;
			// flex: 0;
			a {
				width: 100%;
			}

			img {
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}

			padding: 50px;
		}
	}

	&__button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		color: $color--primary;
		right: 15px;
		height: 45px;
		width: 45px;
		top: calc(50% + #{$height__accent-mobile}/ 2);
		transform: translateY(-50%);
		font-size: 26px;
		line-height: 1;
		transition: $transition;
		outline: none;

		@include media-breakpoint-up($bp-laptop) {
			display: none;
		}

		@include fontawesome {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: $transition;
		}

		.fa-times {
			opacity: 0;
			font-size: 30px;
		}

		&.expanded {
			transform: translateY(-50%) rotate(90deg);

			.fa-bars {
				opacity: 0;
			}

			.fa-times {
				opacity: 1;
			}
		}
	}

	&__menu {
		font-size: 16px;
		// display: none;
		display: flex;
		flex: 1 1 100%;
		flex-direction: column;
		height: calc(100vh - #{$height__nav-mobile} - #{$height__accent-mobile});

		nav {
			height: 0;
			max-height: 100%;
			flex: 1 1 100%;
			position: relative;
			padding-top: $padding__panel-TB;
			overflow-x: hidden;

			&::before,
			&::after {
				content: "";
				display: inline-block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: -50px;
				right: -50px;
				transition: box-shadow 0.5s ease;
				pointer-events: none;
				box-shadow: none;
			}

			$color--shadow: rgba(darken($color--tertiary, 25%), 0.125);

			// Shadow scroll indicator
			&.more-above {
				&::before {
					box-shadow: inset 0 10px 15px $color--shadow;
				}
			}
			&.more-below {
				&::after {
					box-shadow: inset 0 -10px 15px $color--shadow;
				}
			}
		}

		@include media-breakpoint-down($bp-tablet) {
			position: absolute;
			background: #fff;
			width: 100%;
			top: 85px;
			transform: translateY(-100%);
			z-index: -1;

			&,
			&::before {
				transition: 0.3s ease;
			}

			&::before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: #000;
				transform: translateY(100%);
				pointer-events: none;
				opacity: 0;
			}

			&.expanded {
				transform: translateY(0);

				&::before {
					top: 100%;
					opacity: 0.8;
				}
			}
		}
		@include media-breakpoint-up($bp-laptop) {
			height: 0;
			nav {
				max-height: auto;
				height: 0;
				padding: 0;
			}
		}

		ul {
			margin: 0;
			padding: 0;
		}

		.simplebar-vertical {
			margin: 5px 0;
			width: 10px;
			z-index: $zindex-fixed;

			.simplebar-scrollbar {
				width: 5px;
				right: 0;
			}
		}

		.simplebar-scrollbar {
			&::before {
				border-radius: 2px 0 0 2px;
				background: $color--primary;
			}

			&.simplebar-visible::before {
				opacity: 0.15 !important;
			}
		}
	}

	&__item,
	.subnav__item {
		position: relative;
		display: block;
		transition: background-color $transition;

		a {
			@include nav__item;
			padding: 1em 3em;
		}

		@include media-breakpoint-up($bp-laptop) {
			> a {
				padding: 1em 2em;
			}
		}

		// Mobile subnav (per .nav__item--parent)
		&__subnav {
			display: none;

			.subnav__item {
				a {
					font-size: 14px;
					padding-left: 4.5em;
					padding-top: 0.8em;
					padding-bottom: 0.8em;
				}

				&:last-child a {
					padding-bottom: 1.5em;
				}
			}

			@include media-breakpoint-up($bp-laptop) {
				display: none !important;
			}
		}

		&--parent {
			> a {
				position: relative;
			}

			.nav__item__toggle {
				&::before {
					@include fa("solid", "f0da");
					display: inline-block;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					transition: transform $transition;
					font-size: 20px;
				}
				display: inline-block;
				position: absolute;
				right: 0;
				top: 0;
				color: $color__disabled-border;
				transition: color $transition;
				text-align: center;
				box-sizing: content-box;
				height: 1.25em;
				padding: 1em 1.5em;
				z-index: 1;
				cursor: pointer;

				@include media-breakpoint-up($bp-desktop) {
					pointer-events: none;
				}
			}

			&:hover {
				.subnav {
					display: block;
				}
			}
		}

		&--active {
			> a {
				font-weight: $roboto-bold;
			}
			&::before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				box-sizing: content-box;
				height: 1.25em;
				padding: 1em 0;
				width: 0.5em;
				background-color: $color--tertiary;
				z-index: 1;
			}
		}

		&--expanded {
			text-decoration: none;
			background-color: $color__hover-menu;

			.nav__item__toggle {
				color: $color--tertiary;

				@include media-breakpoint-down($bp-tablet) {
					&::before {
						transform: translate(-100%, -50%) rotate(90deg);
					}
				}
			}

			& + & {
				border-top: 2px solid #fff;
			}
		}
	}

	// Desktop subnav panel
	&__subnav {
		transform: translateX(-100%);
		display: none;
		position: absolute;
		left: 100%;
		width: 230px;
		top: 0;
		bottom: 0;
		background: #fff;
		@include panel-shadow;
		z-index: -1;

		@include media-breakpoint-down($bp-tablet) {
			display: none !important;
		}

		ul {
			display: none;
		}

		&.visible {
			display: block;
			animation: nav__subnav-open 0.3s ease both;
		}
		&.hidden {
			display: block;
			animation: nav__subnav-close 0.3s ease both;
		}
	}

	&__footer {
		// height: 150px;
		// background: $color--highlight;
		// display: none;
		flex: 1 0 auto;
		padding: $padding__panel-LR;

		&__label {
			display: block;
			font-weight: $roboto-bold;
			color: $color--primary;
			margin-top: 0.75em;
			font-size: 14px;
		}

		&__value {
			display: inline-block;
			margin-right: auto;
			font-size: 14px;
		}
	}
}

// Chrome seems to cache where your focus is on the page, and re-focus to that position when you revisit the same page. This made navigation items behave weirdly, loading one page would auto-focus some other nav-item on load.
// Below will disabled default outline for nav items unless the user is tabbing
@include body-not-tabbing {
	.nav__item,
	.subnav__item {
		&:focus {
			outline: none;
		}
	}
}
