@mixin panel-button() {
	appearance: none;
	border: none;
	display: inline-block;
	background-color: transparent;
	line-height: 0;
	position: relative;
}

.panel {
	$block: #{&};
	border-radius: 2px;
	@include panel-shadow;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	padding: $padding__panel-TB $padding__panel-LR;

	> * {
		flex: 1 0 100%;
	}

	&-col {
		margin-bottom: $padding__panel-TB;

		@include media-breakpoint-up($bp-laptop) {
			margin-bottom: $margin__panel-TB;
		}
	}

	&__heading {
		flex: 1 1 auto;
		margin: 0;
	}

	&__content {
		width: 100%;
		max-width: 100%;
		margin-top: 16px;
		> *:last-child {
			margin-bottom: 0;
		}

		&.closed {
			display: none;
		}
	}

	&__button {
		flex: 0 0 auto;
		z-index: $zindex-dropdown;
		position: relative;
		margin-right: -16px;

		&.show #{$block}__ellipsis::before {
			opacity: 1;
		}

		.dropdown-menu {
			top: -8px !important;
			padding: 36px 0 16px;
			margin: 0;
			font-size: 14px;
			border-radius: 3px;
			border: 1px solid $color__field-border;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

			.dropdown-item {
				padding: 0 16px;
				margin-top: 1em;
				text-decoration: none;
				background: none;

				&:first-child {
					margin: 0;
				}

				@include hover-focus {
					color: $color--highlight;
					text-decoration: underline;
					background: none;
				}
			}
		}
	}

	&__ellipsis {
		@include panel-button;
        padding: 24px 16px;
        margin: -8px 0;
		font-size: 26px;
		width: 2.25em;
		height: 1.5em;
		z-index: $zindex-popover + 1;

		&::before {
			@include fa("regular", "f141");
			color: $color--primary;
			opacity: 0.5;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: $transition;
		}

		@include hover-focus {
			&::before {
				opacity: 1;
			}
		}

		&::after {
			content: none;
			display: none;
		}
	}

	&__toggle {
		@include panel-button;
		font-size: 21px;
		height: 100%;
		padding: 0 18px;
		&::before {
			@include fa("solid", "f077");
			transition: 0.3s ease;
		}
		&.closed::before {
			transform: rotate(180deg);
		}
	}

	&--blank {
		padding: 0;
		box-shadow: none;
		border-radius: 0;
		background: transparent;
		padding-left: 15px;
		padding-right: 15px;

		@include media-breakpoint-up($bp-desktop) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&--round {
		border-radius: 10px;
	}

	&--closed {
		#{$block}__content {
			display: none;
		}
		#{$block}__toggle::before {
			transform: rotate(180deg);
		}

        // Responsive &--closed classes
        // Eg. .panel--closed-lg-down
		@each $br, $px in $grid-breakpoints {
			&-#{$br}-down {
				#{$block}__content {
					display: none;
				}
				#{$block}__toggle::before {
					transform: rotate(180deg);
				}

				@include media-breakpoint-up($br) {
					#{$block}__content {
						display: block !important;
					}
					#{$block}__toggle {
						display: none;
					}
					#{$block}__toggle::before {
						transform: rotate(0deg) !important;
					}
				}
			}
		}
	}

	&--open {
		#{$block}__content {
			display: block;
			height: auto;
		}
		#{$block}__toggle::before {
			transform: rotate(0deg);
		}
	}

	&--closing {
		#{$block}__toggle::before {
			transform: rotate(180deg) !important;
		}
	}
	&--opening {
		#{$block}__toggle::before {
			transform: rotate(0deg) !important;
		}
	}

	&--open,
	&--closed {
		&:not(#{$block}--opening):not(#{$block}--closing) {
			#{$block}__content {
				height: auto !important;
			}
		}
	}
}

@include body-not-tabbing {
	.panel__ellipsis,
	.panel__toggle {
		&:focus {
			outline: none;
		}
	}
}
