.panel {
	$block: #{&};
	border-radius: 2px;
	@include panel-shadow;
    background-color: #fff;
    padding: $padding__panel-TB $padding__panel-LR;

	&__heading {
		margin-bottom: 16px;
	}

	&__content {

	}
}
