.panel {
	$block: #{&};
	background-color: #fff;
	border-radius: 2px;
    @include panel-shadow;

	&__heading {
        padding: $padding--panel-TB $padding--panel-LR 16px;
        margin: 0;

		+ #{$block}__content {
			padding-top: 0;
		}
	}

	&__content {
		padding: $padding--panel-TB $padding--panel-LR;
	}
}
