.table {
	$border-radius: 3px;
	$block: #{&};

	border: 1px solid $color__field-border;
	border-radius: $border-radius;
	overflow: hidden;
	font-size: 14px;
	margin-bottom: $margin__form-field;
	display: flex;
	flex-direction: row;

	&__fixed,
	&__scroll {
		@include make-col-ready(0);
		display: flex;
		flex-direction: column;

		&:not([class*="col-"]) {
			@include make-col-auto;
		}
	}

	&__scroll {
		#{$block}__header,
		#{$block}__row {
			flex-wrap: nowrap;
		}
		#{$block}__col {
			flex-shrink: 0;
		}
	}

	&__header {
		@include make-row();
		margin-left: 0;
		margin-right: 0;
		border-radius: $border-radius $border-radius 0 0;
		background-color: $color__background;
		border-bottom: 1px solid $color__field-border;

		#{$block}__col {
			&::before {
				content: "";
				display: inline-block;
				width: 1px;
				height: 36px;
				background: $color__field-border;
				opacity: 0.5;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	&__sort {
		position: absolute;
		right: 0.25em;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		font-size: 16px;
		line-height: 0.5;

		// Reset default button style
		button {
			border: none;
			display: inline-block;
			background-color: transparent;
		}

		.sort__asc,
		.sort__desc {
			color: $color__field-border;
			padding: 5px;
		}

		.sort__asc {
			padding-bottom: 3px;
			&::before {
				@include fa("solid", "f106");
				line-height: 0.5;
			}

			@include hover-focus {
				color: $color--blue;
				opacity: 0.75;
			}
		}
		.sort__desc {
			padding-top: 3px;
			&::before {
				@include fa("solid", "f107");
				line-height: 0.5;
			}

			@include hover-focus {
				color: $color--red;
				opacity: 0.75;
			}
		}
	}

	&__content {
		background-color: $color--grey-light;
		border-radius: 0 0 $border-radius $border-radius;
	}

	&__row {
		@include make-row();
		margin-left: 0;
		margin-right: 0;
		border-bottom: 1px solid $color__table-row-border;
		background-color: #fff;
	}

	&__col {
		@include make-col-ready();
		padding: 15px;
		position: relative;

		// If not Bootstrap .col-N class, apply .col
		@include media-breakpoint-up(xl) {
			&:not([class*="col-"]) {
				@include make-col-auto;
			}
		}
	}

	&__label {
		font-weight: $roboto-bold;
		display: block;
		padding-right: 0.75em;
	}

	&__value {
		line-height: 1.25;
		display: block;
	}

	// Helper classes for table height, where $n is the number of rows that should be visible.
	@for $n from 1 through 25 {
		&.rows-#{$n} {
			#{$block}__content {
				$em: 14px;
				$line-height: 1.25;
				height: calc(#{$n} * (#{floor($em * $line-height)} + 15px * 2 + 1px));
			}
		}
	}
}
