.datatable__row-button {
	font-weight: $roboto-medium;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;

	&::before {
		font-size: 1.2em;
		margin-right: 0.4em;
		vertical-align: middle;
	}

	& + & {
		margin-left: 1.25em;
	}

	@include hover-focus {
		// color: $color--highlight;
        // text-decoration: underline;
        opacity: 1;
	}
}

tr:not(.datatable-hover) {
	.datatable__row-button {
        opacity: 0.5;
		// color: $color__field-border;
	}
}

@mixin row-button($fa-style, $fa-code, $color: $color--primary) {
    color: $color;
	&::before {
		@include fa($fa-style, $fa-code);
	}
}
.row-button {
	&--edit {
		@include row-button("solid", "f044");
	}
	&--delete {
		@include row-button("regular", "f057", $color--red);
	}
}
